.content
{
	margin: auto;
	display: block;
	border-style: hidden;
}

li.borderless
{
  border-style: hidden;
  background-color: #e5e5e5;
}

.table-format
{
  width: 76%;
  padding: 1em;
}

.img-format
{
	height: 50%;
	width: 50%;
}
