<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Joggers and Loggers - Home</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/navbar-custom.css">
	<link rel="stylesheet" type="text/css" href="css/registration.css">
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<div class="wrapper">
	<xt-header></xt-header>

	<h1>Joggers and Loggers Account Login</h1>
	<div class="content">
		<div class="form-container">
		    <form method="get">
		        <div class="form-group">
		            <label for="username">Username</label>
		            <input type="text" id="username" class="form-control" ng-model="vm.user.username" required />
		        </div>
		        <div class="form-group">
		            <label for="password">Password</label>
		            <input type="password" id="password" class="form-control" ng-model="vm.user.password" required/>
		        </div>
		        <div class="form-group">
		            <button class="btn btn-primary" ng-click="/index.html">Login</button>
		            <button class="btn btn-primary" onclick="location.href='/register.html'">Register</button>
		            <br><br>
		            <p><a href="/forgotpass.html">Forgot Password?</a></p>
		        </div>
		    </form>
		</div>
	</div>

	<xt-footer></xt-footer>
</div>
</body>
</html>
