<div class="add-padding">
	<h1>{{teamData[0].teamname}}</h1>
	<div ng-repeat="users in teamData" class="table-responsive">
		<h3>{{users.username}}</h3>
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Activity</th>
				<th>Distance</th>
				<th>Time</th>
				<th>Sleep</th>
				<th>Heartrate</th>
				<th>Description</th>
			</tr>
			<tr ng-repeat="logs in users.logs | orderBy: 'log.logdate'">
				<td><b>{{logs.log.logtitle}}</b></td>
				<td>{{logs.log.logdate}}</td>
				<td>{{logs.activity}}</td>
				<td>{{logs.log.distance}} miles</td>
				<td>{{logs.log.activitytime}}</td>
				<td>{{logs.log.sleep}}</td>
				<td>{{logs.log.heartrate}}</td>
				<td>{{logs.log.description}}</td>
			</tr>
		</table>
	</div>
</div>
