<div class="add-padding">
	<h1>{{teamData[0].teamname}}</h1>
	<flash-message></flash-message>
	<div ng-repeat="users in teamData" class="table-responsive">
		<h3>{{users.username}}</h3>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
				</div>
			</div>
		</div>

		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Activity</th>
				<th>Distance</th>
				<th>Time</th>
				<th>Sleep</th>
				<th>Heartrate</th>
				<th>Description</th>
			</tr>
			<tr ng-repeat-start="logs in users.logs | orderBy: 'log.logdate'" ng-click="showComment(logs)">
				<td><b>{{logs.log.logtitle}}</b></td>
				<td>{{logs.log.logdate | date: yyyy-MM-dd}}</td>
				<td>{{logs.activity}}</td>
				<td>{{logs.log.distance}}</td>
				<td>{{logs.log.activitytime}}</td>
				<td>{{logs.log.sleep}}</td>
				<td>{{logs.log.heartrate}}</td>
				<td>{{logs.log.description}}</td>
			</tr>
			<tr ng-show="isComment(logs.log.log_id, logs.comments.log_id)">
				<td>{{logs.comments.description}}</td>
				<td>{{userData.username}}
			</tr>
			<tr ng-repeat-end ng-show="isSelected(logs.log.log_id) && show">
				<td><b>Enter a comment:</b></td>
				<td><textarea value="description" class="form-control" rows="4" ng-model="commentData.description" placeholder="Write your comment here"></textarea> </td>
				<td><button type="button" class="btn btn-primary center" ng-click="saveComment(logs.log.log_id)">Save Comment</button>
					<br> <br>
					<button type="button" class="btn btn-primary center" ng-click="cancel()">Cancel</button></td>
			</tr>
		</table>
	</div>
</div>
