<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" ui-sref="home">Loggers and Joggers</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ng-show="loggedIn()" ui-sref="log">Log A Run</a></li>

                <li class="dropdown" ng-show="loggedIn()" ng-click="retrieveData()">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <div ng-repeat="teams in allUserData">
                        <li><a ui-sref="team({id: {{teams.team.team_id}} })">{{teams.team.teamname}}</a></li>
                      </div>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="all-teams">All Teams</a></li>
                        <li><a ui-sref="create-team">Create Team</a></li>
                    </ul>
                </li>

                <li><a ng-show="loggedIn()" ui-sref="shoe">Shoes</a></li>
                <li><a ng-show="loggedIn()" ui-sref="personalrecord">Personal Records</a></li>
                <li><a ui-sref="about">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="loggedIn()" ui-sref="user-profile">{{userData().username}}</a></li>
                <li><a ng-controller="SignoutController" ng-click="logout()" ng-show="loggedIn()" ui-sref="logout">Logout</a></li>
                <li><a ng-show="!loggedIn()" ui-sref="login">Sign in</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
