<h1 class="registration-h1">Joggers and Loggers Account Login</h1>
<div class="content-registration">
	<div class="form-container">
		<form name="LoginForm" ng-submit="loginUser();" novalidate>
			<flash-message></flash-message>
			<div class="form-group">
				<label for="username">Username</label><label class="asterisk">*</label>
				<input type="text" value="username" class="form-control" ng-model="userData.username" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label><label class="asterisk">*</label>
				<input type="password" value="password" class="form-control" ng-model="userData.password" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Login</button>
				<button class="btn btn-primary" ui-sref="register">Register</button>
				<br><br>
				<p><a href='#/forgot-password' ui-sref="forgot-password">Forgot Password?</a></p>
			</div>
		</form>
	</div>
</div>
