<h1 class="registration-h1">Joggers and Loggers Account Creation</h1>
<div class="content-registration">
	<!-- <% if (message.length > 0) { %>
		<div class="alert alert-danger">
			<%= message %>
		</div>
		<% } %> -->
			<div class="form-container">
				<form action="api/v1/register" method="post">
					<!-- name="CreateUserForm" ng-submit="createUser(); USE THIS IF ABOVE DOES NOT WORK -->
					<div class="form-group">
						<label>First Name: </label>
						<input type="text" class="form-control" name="firstname" value="firstname" ng-model="userData.firstname" required>
					</div>
					<div class="form-group">
						<label>Last Name: </label>
						<input type="text" class="form-control" name="lastname" value="lastname" ng-model="userData.lastname" required>
					</div>
					<div class="form-group">
						<label>Sex: </label>
						<select name="sex" class="form-control" ng-model="userData.sex">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Other">Other</option>
				</select>
					</div>
					<div class="form-group">
						<label>Birthdate: </label>
						<input type="date" class="form-control" name="birthdate" value="birthdate" ng-model="userData.birthdate" required>
					</div>
					<div class="form-group">
						<label>Email: </label>
						<input type="email" class="form-control" name="email" value="email" ng-model="userData.email" required>
					</div>
					<div class="form-group">
						<label>Username </label>
						<input type="text" class="form-control" name="username" value="username" ng-model="userData.username" ng-minlength="5" ng-maxlength="16" required>
					</div>
					<div class="form-group">
						<label>Password: </label>
						<input type="password" class="form-control" name="password" value="password" ng-model="userData.password" ng-minlength="6" ng-maxlength="16" required>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Create Account</button>
					</div>
				</form>
			</div>
</div>
