<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="center">Personal Reocrds</h1>
            <table class="table table-striped  text-center center">
                <tr>
                    <td><b>Date</b></td>
                    <td><b>Event</b></td>
                    <td><b>Time</b></td>
                </tr>
                <tr ng-repeat="pr in prs">
                    <td>{{pr.prdate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{pr.prevent}}</td>
                    <td>{{pr.prtime}}</td>
                </tr>
            </table>
            <button class="btn btn-primary right" ng-click="showAddPR()">Add a Personal Record</button>
        </div>
    </div>
</div>


<!--Add a Personal Record -->
<div class="content-registration" ng-show="show">
    <div class="form-container">
        <h1 class="registration-h1">Add a Personal Record</h1>

        <form name="AddPRForm" ng-submit="createPR();">
            <flash-message></flash-message>
            <div class="form-group">
                <label>Date: </label><label class="asterisk">*</label>
                <input type="date" value="prdate" class="form-control" ng-model="prData.prdate">
            </div>
            <div class="form-group">
                <label>Event: </label><label class="asterisk">*</label>
                <input type="text" value="prevent" class="form-control" ng-model="prData.prevent" required>
            </div>
            <div class="form-group">
                <label>Time: </label><label class="asterisk">*</label>
                <input type="text" value="prtime" class="form-control" ng-model="prData.prtime" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Personal Record</button>
            </div>
        </form>
    </div>
</div>
