<div class="center" ng-controller="shoeController as shoe">
    <div class="container">

        <!--Show current Shoes -->
        <div class="row">
            <div class="col-md-12">
                <h1>Shoes</h1>
                <table class="table table-striped table-format-userprofile">
                    <tr>
                        <td><b>Shoe</b></td>
                        <td><b>Current Mileage</b></td>
                        <td><b>Max Mileage</b></td>
                        <td><b>Current Shoe</b></td>
                        <td><b>Retired Shoe</b></td>
                    </tr>
                    <tr>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Add a new Shoe -->
        <div class="row">
            <div class="col-md-12">
                <form name="AddShoeForm" ng-submit="createShoe();">
                    <label>Enter a new shoe:</label>
                    <input type="text" name="shoename" ng-model="shoeData.shoename" required>
                    <br>
                    <label>What is the maximum mileage?</label>
                    <input type="number" name="maxmileage" ng-model="shoeData.maxmileage">
                    <br>
                    <label>When did you purchase the shoes?</label>
                    <input type="date" name="purchasedate" ng-model="shoeData.purchasedate">
                    <br>
                    <label>Will this be your current shoe?</label>
                    <input type="radio" name="currentshoe" value="True" ng-model="shoeData.currentshoe" checked> Yes
                    <input type="radio" name="currentshoe" value="False" ng-model="shoeData.currentshoe"> No
                    <br>
                    <button type="submit" class="btn btn-primary">Add Shoe</button>
                </form>

            </div>
        </div>
    </div>
</div>
