<h1 class="registration-h1">Enter a New Shoe: </h1>
<div class="content-registration">
    <div class="form-container">

        <!--Show current Shoes -->
        <!-- <div class="row">
            <div class="col-md-12">
                <h1>Shoes</h1>
                <table class="table table-striped table-format-userprofile">
                    <tr>
                        <td><b>Shoe</b></td>
                        <td><b>Current Mileage</b></td>
                        <td><b>Max Mileage</b></td>
                        <td><b>Current Shoe</b></td>
                        <td><b>Retired Shoe</b></td>
                    </tr>
                    <tr>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                    </tr>
                </table>
            </div>
        </div> -->

        <!-- Add a new Shoe -->
        <form name="AddShoeForm" ng-submit="createShoe();">
          <flash-message></flash-message>
            <div class="form-group">
                <label>Enter the shoe model:</label><label class="asterisk">*</label>
                <input type="text" name="shoename" class="form-control" ng-model="shoeData.shoename" required>
            </div>

            <div class="form-group">
                <label>What is the maximum mileage?</label><label class="asterisk">*</label>
                <input type="number" name="maxmileage" class="form-control" ng-model="shoeData.maxmileage">
            </div>

            <div class="form-group">
                <label>When did you purchase the shoes?</label><label class="asterisk">*</label>
                <input type="date" name="purchasedate" class="form-control" ng-model="shoeData.purchasedate">
            </div>

            <div class="form-group">
                <label>Will this be your current shoe?</label><label class="asterisk">*</label>
                <br>
                <input type="radio" name="currentshoe" value="True" ng-model="shoeData.currentshoe" checked> Yes
                <input type="radio" name="currentshoe" value="False" ng-model="shoeData.currentshoe"> No
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Shoe</button>
            </div>

        </form>
    </div>
</div>
