<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="center">Shoes</h1>
            <table class="table table-striped  text-center center">
                <tr>
                    <td><b>Date Purchased</b></td>
                    <td><b>Shoe</b></td>
                    <td><b>Current Mileage</b></td>
                    <td><b>Max Mileage</b></td>
                    <td><b>Current Shoe</b></td>
                    <!-- </b></td><b>Retired Shoe</b></td> -->
                </tr>
                <tr ng-repeat="shoe in shoes">
                    <td>{{shoe.purchasedate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{shoe.shoename}}</td>
                    <td>{{shoe.currentmileage}}</td>
                    <td>{{shoe.maxmileage}}</td>
                    <td>{{shoe.currentshoe}}</td>
                    <!-- <td>{{shoe.retiredshoe}}</td> -->
                </tr>
            </table>
            <button class="btn btn-primary right" ng-click="showAddShoe()">Add a Shoe</button>
        </div>
    </div>
</div>

<!-- Add a new Shoe -->
<div class="content-registration" ng-show="show">
    <div class="form-container">
        <h1 class="registration-h1">Add a New Shoe </h1>
        <form name="AddShoeForm" ng-submit="createShoe();">
            <flash-message></flash-message>
            <div class="form-group">
                <label>Enter the shoe model:</label><label class="asterisk">*</label>
                <input type="text" name="shoename" class="form-control" ng-model="shoeData.shoename" required>
            </div>

            <div class="form-group">
                <label>What is the maximum mileage?</label><label class="asterisk">*</label>
                <input type="number" name="maxmileage" class="form-control" ng-model="shoeData.maxmileage">
            </div>

            <div class="form-group">
                <label>When did you purchase the shoes?</label><label class="asterisk">*</label>
                <input type="date" name="purchasedate" class="form-control" ng-model="shoeData.purchasedate">
            </div>

            <div class="form-group">
                <label>Will this be your current shoe?</label><label class="asterisk">*</label>
                <br>
                <input type="radio" name="currentshoe" value="True" ng-model="shoeData.currentshoe" checked> Yes
                <input type="radio" name="currentshoe" value="False" ng-model="shoeData.currentshoe"> No
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add Shoe</button>
            </div>

        </form>
    </div>
</div>
