<div class="add-padding" ng-controller="teamViewController as team">

	<!-- USER INFORMATION - CHANGE THIS -->
	<h1>Team Tiger</h1>
	<table class="team-table" ng-repeat="users in teamData">
		<tr>
			<td class="team-table-user">User: <b>{{users.username}}</b></td>
		</tr>
		<tr ng-repeat="logs in users.logs">
			<td>Date: {{logs.log.logdate}}</td>
			<td>Activity: {{logs.activity}}</td>
			<td>Distance: {{logs.log.distance}} miles</td>
			<td>Time: {{logs.log.activitytime}}</td>
			<td>Sleep: {{logs.log.sleep}}</td>
			<td>Heartrate: {{logs.log.heartrate}}</td>
			<td>Description: {{logs.log.description}}</td>
		</tr>
	</table>
</div>
